# ignore ALL files with
*.log
*.json
*.png
*.h5
*.gml

# ignore ALL files in directory
data/
.vscode/
.ipynb_checkpoints/
python_order_metric_prediction/__pycache__/
julia_code/networks/network_photonic.jl
julia_code/structure_analysis_photonic_modules.jl